<%- include("../partials/admin_header")%>
    <div class="container-scroller">
      <!-- partial:../../partials/_sidebar.html -->
      <%- include('../partials/admin_sidebar')%>
      <!-- partial -->
      <div class="container-fluid page-body-wrapper">
        <!-- partial:../../partials/_navbar.html -->
        <%- include('../partials/admin_navbar')%>
        <!-- partial -->
        <div class="main-panel">
          <div class="content-wrapper">
            <div class="page-header">
              <h3 class="page-title"> Add Category</h3>
              
            </div>
            <div class="col-md-6 grid-margin stretch-card">
                <div class="card">
                  <div class="card-body">
                   
                    <form class="forms-sample" id="catform" action="/admin/addcategory" method="post">
                      <div class="form-group">
                        <label for="exampleInputUsername1">Category Name</label>

                        <input type="text" class="form-control" id="catname" name="category" placeholder="Enter the category name" required>

                      </div> 
                      <div class="mt-2">
                        <% if(locals.error){%>
                          <p class="text-danger font-weight-bold"><%=error%></p>
                          <%}%>
                       
                       
    
                      </div>
                      
                      <button type="submit" id="catform" class="btn btn-success mr-2">Submit</button>
                      <a href="/admin/viewcategory" class="btn btn-danger">Cancel</a>
                    </form>
                  </div>
                </div>
              </div>
          </div>
        
          
          
        </div>
        <!-- main-panel ends -->
      </div>
      <!-- page-body-wrapper ends -->
    </div>
    <script>
     let category=document.getElementById("catname")

     category.addEventListener("input",()=>{
      if(category.value.trim()==""){
        category.setCustomValidity("category name cannot be empty")
      }else {
        category.setCustomValidity("")
      }

     })
    //  let catform =document.getElementById("catform")
    //   catform.addEventListener("submit",(event)=>{
    //     event.preventDefault()
    //     alert("category added")
    //     catform.submit()
    //   })
    </script>
    <%- include('../partials/admin_footer')%>
   