<%- include('../partials/userheader')%>

<!-- breadcrumb-section -->
<div class="breadcrumb-section breadcrumb-bg">
  <div class="container">
    <div class="row">
      <div class="col-lg-8 offset-lg-2 text-center">
        <div class="breadcrumb-text">
          <p></p>
          <h1></h1>
        </div>
      </div>
    </div>
  </div>
</div>
<!-- end breadcrumb section -->

<!-- single product -->

<div class="container-fluid pt-5 pb-3">
  <h2 class="section-title position-relative text-uppercase mx-xl-5 mb-4">
    <span class="bg-secondary pr-3">
      <!-- Featured  -->
      Ordered Product</span
    >
  </h2>
  <div class="row px-xl-5">
    <%orderData.product.forEach((product)=>{%>

    <div class="col-lg-3 col-md-4 col-sm-6 pb-1">
      <div class="product-item bg-light mb-4" style="box-shadow: 5px 1px 6px;">
        <div class="product-img position-relative overflow-hidden "  style="height: 400px; width: 100%;" >        

          <img
            class="img-fluid w-100"
            src="/product-image/<%=product.productId.image[0]%> "
            alt=""
          />
          <!-- href="/addtocart/<%=product._id%>" -->
          <div class="product-action">
            <!-- <a class="btn btn-outline-dark btn-square"  onclick="addtocart('<%=product._id%>')" ><i class="fa fa-shopping-cart"></i></a> -->
            <!-- <a class="btn btn-outline-dark btn-square" href=""><i class="far fa-heart"></i></a> -->

            <a
              class="btn btn-outline-dark btn-square"
              href="/viewproduct/<%=product.productId._id%>"
              ><i class="fa fa-eye"></i
            ></a>
          </div>
        </div>
        <div class="text-center py-4">
          <h5 class="font-weight-bold text-shadow text-truncate">
            <%=product.productId.productName%>
          </h5>
          <!-- <a class="h6 text-decoration-none text-truncate" href=""><%=product.productName%></a> -->
          <div class="d-flex align-items-center justify-content-center mt-2">
            <h5>₹ <%=orderData.totalamount%></h5>
            <h6 class="text-muted ml-2"></h6>
          </div>
          <div class="d-flex align-items-center justify-content-center mt-2">
            <h5>Quantity: <%=product.quantity%></h5>
          </div>
          <div class="d-flex align-items-center justify-content-center mt-2">
            <h6>Payment method: <%=orderData.paymentMethode%></h6>
          </div>

          <div class="d-flex align-items-center justify-content-center mb-1">
            <small class="fa fa-star text-primary mr-1"></small>
            <small class="fa fa-star text-primary mr-1"></small>
            <small class="fa fa-star text-primary mr-1"></small>
            <small class="fa fa-star text-primary mr-1"></small>
            <small class="fa fa-star-half-alt text-primary mr-1"></small>
            <small>(99)</small>
          </div>
          <%if(orderData.status=="retun pending" ||orderData.status=="return aproved" ||orderData.status=="return reject"||orderData.status=="canceled"){%>
          
          <%}else if(orderData.status=="Delivered"){%>
          <div class="d-flex align-items-center justify-content-end mx-3">
            <button
              onclick="returnorder('<%=orderData._id%>')"
              class="btn btn-danger font-weight-bold"
              style="border-radius: 5px"
            >
              Return
            </button>
          </div>

         
          <%}else {%>
            <div class="d-flex align-items-center justify-content-end mx-3">
              <button
                onclick="cancelorder('<%=orderData._id%>')"
                class="btn btn-danger font-weight-bold"
                style="border-radius: 5px"
              >
                Cancel
              </button>
            </div>

          <%}%>
        </div>
      </div>
    </div>
    <%})%>
  </div>
  <hr />
</div>
<!-- end single product -->

<!-- more products -->
<!-- end more products -->

<!-- logo carousel -->
<!-- end logo carousel -->

<!-- footer -->

<script src="/javascript/ajax.js"></script>
<script src="/user/js/main.js"></script>
<div class="container-fluid bg-dark text-secondary mt-5 pt-5">
  <div class="row px-xl-5 pt-5">
    <div class="col-lg-4 col-md-12 mb-5 pr-3 pr-xl-5">
      <h5 class="text-secondary text-uppercase mb-4">Get In Touch</h5>
      <p class="mb-4">
        No dolore ipsum accusam no lorem. Invidunt sed clita kasd clita et et
        dolor sed dolor. Rebum tempor no vero est magna amet no
      </p>
      <p class="mb-2">
        <i class="fa fa-map-marker-alt text-primary mr-3"></i>Street
        12,Kannur,Kerala
      </p>
      <p class="mb-2">
        <i class="fa fa-envelope text-primary mr-3"></i>info@example.com
      </p>
      <p class="mb-0">
        <i class="fa fa-phone-alt text-primary mr-3"></i>+91 7558949012
      </p>
    </div>
    <div class="col-lg-8 col-md-12">
      <div class="row">
        <div class="col-md-4 mb-5">
          <h5 class="text-secondary text-uppercase mb-4">Quick Shop</h5>
          <div class="d-flex flex-column justify-content-start">
            <a class="text-secondary mb-2" href="#"
              ><i class="fa fa-angle-right mr-2"></i>Home</a
            >
            <a class="text-secondary mb-2" href="#"
              ><i class="fa fa-angle-right mr-2"></i>Our Shop</a
            >
            <a class="text-secondary mb-2" href="#"
              ><i class="fa fa-angle-right mr-2"></i>Shop Detail</a
            >
            <a class="text-secondary mb-2" href="#"
              ><i class="fa fa-angle-right mr-2"></i>Shopping Cart</a
            >
            <a class="text-secondary mb-2" href="#"
              ><i class="fa fa-angle-right mr-2"></i>Checkout</a
            >
            <a class="text-secondary" href="#"
              ><i class="fa fa-angle-right mr-2"></i>Contact Us</a
            >
          </div>
        </div>
        <div class="col-md-4 mb-5">
          <h5 class="text-secondary text-uppercase mb-4">My Account</h5>
          <div class="d-flex flex-column justify-content-start">
            <a class="text-secondary mb-2" href="#"
              ><i class="fa fa-angle-right mr-2"></i>Home</a
            >
            <a class="text-secondary mb-2" href="#"
              ><i class="fa fa-angle-right mr-2"></i>Our Shop</a
            >
            <a class="text-secondary mb-2" href="#"
              ><i class="fa fa-angle-right mr-2"></i>Shop Detail</a
            >
            <a class="text-secondary mb-2" href="#"
              ><i class="fa fa-angle-right mr-2"></i>Shopping Cart</a
            >
            <a class="text-secondary mb-2" href="#"
              ><i class="fa fa-angle-right mr-2"></i>Checkout</a
            >
            <a class="text-secondary" href="#"
              ><i class="fa fa-angle-right mr-2"></i>Contact Us</a
            >
          </div>
        </div>
        <div class="col-md-4 mb-5">
          <h5 class="text-secondary text-uppercase mb-4">Newsletter</h5>
          <p>Duo stet tempor ipsum sit amet magna ipsum tempor est</p>
          <form action="">
            <div class="input-group">
              <input
                type="text"
                class="form-control"
                placeholder="Your Email Address"
              />
              <div class="input-group-append">
                <button class="btn btn-primary">Sign Up</button>
              </div>
            </div>
          </form>
          <h6 class="text-secondary text-uppercase mt-4 mb-3">Follow Us</h6>
          <div class="d-flex">
            <a class="btn btn-primary btn-square mr-2" href="#"
              ><i class="fab fa-twitter"></i
            ></a>
            <a class="btn btn-primary btn-square mr-2" href="#"
              ><i class="fab fa-facebook-f"></i
            ></a>
            <a class="btn btn-primary btn-square mr-2" href="#"
              ><i class="fab fa-linkedin-in"></i
            ></a>
            <a class="btn btn-primary btn-square" href="#"
              ><i class="fab fa-instagram"></i
            ></a>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div
    class="row border-top mx-xl-5 py-4"
    style="border-color: rgba(256, 256, 256, 0.1) !important"
  >
    <div class="col-md-6 px-xl-0">
      <p class="mb-md-0 text-center text-md-left text-secondary">
        &copy; <a class="text-primary" href="#">Domain</a>. All Rights Reserved.
        Designed by
        <a class="text-primary" href="https://htmlcodex.com">E - SHOES</a>
      </p>
    </div>
    <div class="col-md-6 px-xl-0 text-center text-md-right">
      <img
        class="img-fluid"
        src="/user/img/card.jpg"
        alt=""
        style="height: 60px; width: 160px"
      />
    </div>
  </div>
</div>
<!-- end footer -->

<!-- copyright -->
<!-- end copyright -->
<script src="https://code.jquery.com/jquery-3.4.1.min.js"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.bundle.min.js"></script>
<script src="/user/lib/easing/easing.min.js"></script>
<script src="/user/lib/owlcarousel/owl.carousel.min.js"></script>

<!-- Contact Javascript File -->
<script src="/user/mail/jqBootstrapValidation.min.js"></script>
<script src="/user/mail/contact.js"></script>

<!-- Template Javascript -->

<!-- <script src="/assets/js/ajaxrequests.js"></script> -->
<script src="//cdn.jsdelivr.net/npm/sweetalert2@11"></script>

<script>
  function cancelorder(id) {
    Swal.fire({
      title: "Are you sure?",
      text: "You won't be able to revert this!",
      icon: "warning",
      showCancelButton: true,
      confirmButtonColor: "#3085d6",
      cancelButtonColor: "#d33",
      confirmButtonText: "Yes, delete it!",
    }).then((result) => {
      if (result.isConfirmed) {
        $.ajax({
          url: "/cancelorder",
          method: "post",
          data: {
            id: id,
          },
          success: (response) => {
            if (response.status) {
              window.location.reload();
            }
          },
        });
      }
    });
  }

  function returnorder(id) {
    Swal.fire({
      title: "Are you sure?",
      text: "You want to return !",
      icon: "warning",
      showCancelButton: true,
      confirmButtonColor: "#3085d6",
      cancelButtonColor: "#d33",
      confirmButtonText: "Yes, delete it!",
    }).then((result) => {
      if (result.isConfirmed) {
        $.ajax({
          url: "/returnorder",
          method: "post",
          data: {
            id: id,
          },
          success: (response) => {
            if (response.status) {
              window.location.reload();
            }
          },
        });
      }
    });
  }
</script>

</body>

</html>
