<%-include('../partials/userheader')%>
<!-- Navbar End -->

<!-- Breadcrumb Start -->
<div class="container-fluid">
  <div class="row px-xl-5">
    <div class="col-12">
      <nav class="breadcrumb bg-light mb-30">
        <a class="breadcrumb-item text-dark" href="/">Home</a>
        <a class="breadcrumb-item text-dark" href="/shop ">Shop</a>
        <span class="breadcrumb-item active">View orders</span>
      </nav>
    </div>
  </div>
</div>
<!-- Breadcrumb End -->

<!-- Cart Start -->
<div class="container-fluid">
  <div class="row px-xl-5">
    <div class="col-lg-12 table-responsive mb-5">
     
      <table id="table-setting"
        class="table table-light table-borderless table-hover text-center mb-0"
      >
        <thead class="" style="background-color: rgb(43, 43, 43);"> 
          <tr>
            <th class="text-white">Order Id</th>
            <th  class="text-white">Date</th>
            <th class="text-white">Address</th>
            <th class="text-white">Amount</th>
            <th class="text-white">Payment</th>
            <th class="text-white">Status</th>

            <th class="text-white">Option</th>
        
          </tr>
        </thead>
        <tbody class="align-middle">
          
          <%orderData.reverse().forEach((order)=>{%>

          <tr>
            <td class="align-middle text-dark"><%=order._id%></td>
            <td class="align-middle  text-dark"><%=order.date.toISOString().substring(0,10)%></td>
            <td class="align-middle text-dark"><%=order.deliveryDetails %></td>  
            <td class="align-middle text-dark"><%=order.totalamount %></td>

           
            <td class="align-middle text-dark"><%=order.paymentMethode%></td>
            <%if(order.status=="canceled" || order.status=="return pending" ||order.status=="return reject" ){%>
            <td class="align-middle text-danger font-weight-bold"><%=order.status%></td>
          
            
            <%}else{%>
              <td class="align-middle text-success font-weight-bold"><%=order.status%></td>
            <%}%>
            
            <!-- <td class="align-middle"><a href="" class="btn btn-sm btn-danger"><i class="fa fa-times"></i></a></td> -->
           <td><a href="/orderedproduct/<%=order._id%>" class="btn btn-success">view</a></td>
          
        <%})%>
    
        </tbody>
      </table>
    
    </div>
    
  </div>
</div>

<script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>

<%- include('../partials/userfooter')%>